@import "fonts.css";

.calendar{
    grid-column: 3/24;
    grid-row: 5/25;
    display:grid;
    grid-template-areas:
    "1 2 3 4 5 6 7";
}
#weekdays{
    grid-column: 3/24;
    grid-row: 3/5;
    display: grid;
    grid-template-areas:
    "1 2 3 4 5 6 7";
}
#weekdays>p{
width:12vw;
font-family: 'Lombok', Courier, monospace;
font-size: 1.5vw;
text-align: center;
line-height: 8vh;
    
}
.day{
    overflow: hidden;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Ailerons', Courier, monospace;
    border-width:1px;
    border-style: solid;
    width:12vw;
    height:14vh;
}

.day:hover{
    color:black;
    background-color: rgba(255,255,255, 0.6);
}
.date{
    text-align: center;
    font-size: 1vw;
}

.day img{
    border:none;
    object-fit: cover;
    height:100%;
    width: 100%;
}
